  <div id="frontpage" ng-controller="frontpageController">
            <h2>User: {{user}}</h2>
            <form>
            <div class="input-group">
<!--                 <label>Enter Room</label> -->
                <input type="text" name="inputroom" placeholder="Enter Roomname" class="form-control" ng-model="inputroom" />
            <button class="btn btn-primary center-block" ng-click="enterRoom(inputroom)">Enter</button>

            </div>
            </form>
    <div class="list">
    <div class="rooms">
      <div class="page-header title1">
        <h2>ROOMS</h2>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <ul class="list-group">
          <li class="animate-repeat" ng-repeat="room in rooms">
              <h3>[{{$index + 1}}] {{room.roomname}}</h3>
          </li>
          </ul>
        </div>
        </div>
        </div>

        <div class="users">
      <div class="page-header title2">
        <h2>USERS</h2>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <ul class="list-group">
          <li class="animate-repeat" ng-repeat="user in users">
              <h3>[{{$index + 1}}] {{user.username}}</h3>
          </li>
          </ul>
        </div>
        </div>
        </div>
    </div>
    </div>
    <style type="text/css">
      #frontpage {
        padding-left: 80px;
      }
      .input-group {
        padding-left: 20%;
      }
      .list{
        width: 100%;
        display: inline-flex;
      }
      .rooms {
        width: 50%;
      }
      .users {
        width: 50%;
      }
      .row {
        padding-left: 80px;
      }
      button {
        padding-top: 10px;
        width: 40%;
        margin-top: 45px;
      }

    </style>