  <div id="adminpage" ng-controller="adminController">
    <div class="top-bar">
        Admin:
        <span>
            {{user}}
        </span>
        <button class="btn btn-primary pull-right" ng-click="disconnect()">
            Logout
        </button>
        <button class="btn btn-primary" id="myBtn" ng-click="toggleModal()">
            Online Users
        </button>
    </div>

<!--         <div class="users">
      <div class="page-header title2">
        <h2>USERS</h2>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <ul class="list-group">
          <li class="animate-repeat" ng-repeat="user in users">
              <h3>[{{$index + 1}}] {{user.username}}</h3>
          </li>
          </ul>
        </div>
        </div>
        </div> -->

        <div id="chat" ng-controller="chatController">
        <div class="msgBox container" id="messageContainer">
        <div class="col-xs-12" id="messages">
            <div id="msg_{{$index}}" ng-repeat="msg in messages">
                <blockquote ng-if="msg.room == room || msg.sender == 'Admin'">
                    {{msg.sender}} : {{msg.text}}
                    <small>
                        {{msg.time}}
                    </small>
                </blockquote>
            </div>
        </div>
    </div>
    <form>
        <div class="footer">
            <div class="container">
                <input ng-model="messageInput" placeholder="Type the message..." size="55" type="text"/>
                <button class="btn btn-primary" ng-click="sendMessage(messageInput)">
                    Send
                </button>
            </div>
        </div>
    </form>
    </div>
    <style type="text/css">
#chat {
    width: 100%;
    height: 100vh;
}
.top-bar {
    /*position: fixed;*/
    height: 50px;
    border-bottom: 1px solid #ccc;
    padding: 5px 15px;
}
.top-bar span{
    font-size: 20px;
    color: #222;
    margin-right: 15px;
}
.msgBox {
    max-width: 1000px;
    height: calc(100% - 100px);
    overflow: auto;
    position: relative;
}


    #msgBox {
    position: relative;
}
.footer {
    position: fixed;
    bottom: 0;
    height: 50px;
    padding: 5px 15px;
    overflow: hidden;
    border-top: 1px solid #ccc;
}
.footer input {
    height: 100%;
    border: none;
    width: calc(100% - 100px);
}
.footer .btn {
    height: 100%;
    width: 70px;
}

/*=====  End of Chat  ======*/

#myBtn {
    margin-right: 20px;
    float: right;
}

</style>